<p>mermaid-flow-chart works!</p>

<div class="row">
  <div class="col-12" style="text-align: center">
    <h3>Logical Flowchart</h3>
    <div style="margin-top: 50px">
      <pre class="mermaid">
        flowchart LR
                id1(LOAD BALANCER) ---> id2(APIS)
                id2 ---> id3(MICRO SERVICES)
                id3 ---> id4(BASES DE DATOS)   &   id5(PIC)

                linkStyle 0 stroke-width:4px,stroke:green
                linkStyle 1 stroke-width:4px,stroke:green
                linkStyle 2 stroke-width:4px,stroke:green
                linkStyle 3 stroke-width:4px,stroke:green




        </pre
      >
    </div>
  </div>
</div>

<router-outlet></router-outlet>
